<!--======================================
        START FOOTER
 ======================================-->
<footer class="footer-section bg-dark section-space-t pb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="footer-item">
          <img src="/img/logo-2.png" alt="footer logo" class="mb-3" />
          <p class="mb-4">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem
            commodi possimus
          </p>
          <ul class="contact-info-list">
            <li>
              <a href="#"><i class="fal fa-phone icon"></i>+1234567890</a>
            </li>
            <li>
              <a href="mailto:fastyle@support.com"
                ><i class="fal fa-envelope icon"></i>bcutter@support.com</a
              >
            </li>
          </ul>
        </div>
        <!-- end footer-item -->
      </div>
      <!-- end col -->
      <div class="col-lg-5 mx-auto">
        <div class="footer-item">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="footer-list-item-wrap">
                <h5 class="mb-3 footer-title">Company</h5>
                <ul class="list-item list-item-white">
                  <li><a href="#">About</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Sevices</a></li>
                </ul>
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4 col-md-4">
              <div class="footer-list-item-wrap">
                <h5 class="mb-3 footer-title">Products</h5>
                <ul class="list-item list-item-white">
                  <li><a href="#">Categories</a></li>
                  <li><a href="#">New Arrival</a></li>
                  <li><a href="#">Popular</a></li>
                  <li><a href="#">Sale</a></li>
                </ul>
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4 col-md-4">
              <div class="footer-list-item-wrap">
                <h5 class="mb-3 footer-title">Support</h5>
                <ul class="list-item list-item-white">
                  <li><a href="#">Help Center</a></li>
                  <li><a href="#">Delivery Service</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Term of Service</a></li>
                </ul>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- end footer-item -->
      </div>
      <div class="col-lg-3">
        <div class="footer-item">
          <h5 class="mb-3 footer-title">Join Our Newsletter</h5>
          <p class="mb-4">Get the latest update and special offer</p>
          <form action="#">
            <div class="input-group">
              <input
                type="email"
                class="form-control form-control-s1"
                placeholder="Type your email here"
              />
              <div class="input-group-append">
                <button class="btn btn-primary">Join</button>
              </div>
            </div>
          </form>
        </div>
        <!-- end footer-item -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
    <hr class="border-top-dark-100" />
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <p class="my-1 copy-desc">
        Copyright &copy; 2021 BCutter. All Rights Reserved by
        <a href="#">bPlugins</a>
      </p>
      <ul class="social-profile-icons my-1">
        <li>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <!-- end container -->
</footer>
<!-- end footer-section -->
<!--======================================
        END FOOTER
======================================-->

<!-- start scroll top -->
<div id="scroll-top">
  <i class="fal fa-angle-up" title="Go top"></i>
</div>
<!-- end scroll top -->
