---
title: home_3
layout: "base.njk"
---

<!--======================================
        START HERO
======================================-->
<section class="hero-section">
  <div class="hero-item bg-primary-100 hero-item-s1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center pr-lg-5">
          {%-for home_3_hero in collections.home_3_hero-%}

          <div class="hero-content mb-5 mb-lg-0">
            <h1 class="hero-title mb-4">{{ home_3_hero.data.title }}</h1>
            <p class="hero-text">
              {{ home_3_hero.data.para1 }}
            </p>
            <div class="gap-2x"></div>
            <!-- end gap -->
            <ul class="hero-btns btns-group">
              <li>
                <a
                  href="contact.html"
                  class="btn btn-lg btn-round-none btn-primary"
                  >{{ home_3_hero.data.btn }}</a
                >
              </li>
              <li>
                <a
                  class="btn btn-video"
                  href="https://www.youtube.com/watch?v=pVE92TNDwUk"
                  data-fancybox="preview-video"
                  title="Play Video"
                  ><i class="far icon-element fa-play"></i>
                  {{ home_3_hero.data.videoBtn }}</a
                >
              </li>
            </ul>
          </div>
          {%-endfor-%}
        </div>
        <!-- end col -->
        <div class="col-lg-6">
          <div class="hero-banner-img">
            {%-for home_3_hero_image in collections.home_3_hero_image-%}
            <img
              class="img-fluid"
              src=" {{ home_3_hero_image.data.image1 }}"
              alt=""
            />
            {%-endfor-%}
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end hero-item -->
</section>
<!-- end hero-section -->
<!--======================================
        END HERO
======================================-->

<!--======================================
        START FEATURE
 ======================================-->
<section class="feature-section section--space">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="section-head pb-4">
          {%-for home_3_advance_f_title in collections.home_3_advance_f_title-%}
          <h4 class="section-intro-title">
            {{ home_3_advance_f_title.data.meta }}
          </h4>
          <h1 class="section-title">{{ home_3_advance_f_title.data.title }}</h1>
          {%-endfor-%}
        </div>
        <!-- end section-head -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
    <div class="row gutters-48">
      {%-for home_3_advance_feature in collections.home_3_advance_feature-%}
      <div class="col-lg-3 col-md-6">
        <div class="card card-s2 text-center">
          <div class="card-body">
            <div class="icon-element mx-auto mb-4">
              <i class="fal fa-chair-office"></i>
            </div>
            <h4 class="card-title">{{ home_3_advance_feature.data.title }}</h4>
            <p class="card-text">
              {{ home_3_advance_feature.data.para1 }}
            </p>
          </div>
        </div>
        <!-- end card -->
      </div>
      {%-endfor-%}
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end feature-section -->
<!--======================================
        END FEATURE
======================================-->

<!--======================================
        START VIDEO
======================================-->
{%-for home_3_view_work in collections.home_3_view_work-%}
<section
  class="video-section section-space set-bg overlay on-dark"
  data-setbg="{{ home_3_view_work.data.image1 }}"
>
  <div class="container">
    <div class="section-head text-center mb-0">
      <h1 class="section-title">{{ home_3_view_work.data.title }}</h1>
      <a
        class="icon-element mx-auto pulse-btn"
        href="https://www.youtube.com/watch?v=pVE92TNDwUk"
        data-fancybox="preview-video"
        title="Play Video"
      >
        <i class="far fa-play icon"></i>
      </a>
      <p class="section-desc mb-0">{{ home_3_view_work.data.time }}</p>
    </div>
    <!-- end section-head -->
  </div>
  <!-- end container -->
</section>
{%-endfor-%}
<!-- end video-section -->
<!--======================================
        END VIDEO
======================================-->

<!--======================================
        START SERVICE
 ======================================-->
<section class="service-section section--space">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="section-head pb-4">
          {%-for home_3_service_title in collections.home_3_service_title-%}
          <h4 class="section-intro-title">
            {{ home_3_service_title.data.meta }}
          </h4>
          <h1 class="section-title">{{ home_3_service_title.data.title }}</h1>
          {%-endfor-%}
        </div>
        <!-- end section-head -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
    <div class="row gutters-48 random-card-wrap">
      {%-for home_3_Our_Services in collections.home_3_Our_Services-%}
      <div class="col-lg-4 col-md-6">
        <div class="card card-s2 text-center">
          <div class="card-body">
            <div class="icon-element mx-auto mb-4">
              <i class="fal fa-hand-scissors"></i>
            </div>
            <h4 class="card-title">{{ home_3_Our_Services.data.title }}</h4>
            <p class="card-text">
              {{ home_3_Our_Services.data.para1 }}
            </p>
            <a href="#" class="btn btn-md btn-primary mt-4">{{
              home_3_Our_Services.data.btn
            }}</a>
          </div>
        </div>
        <!-- end card -->
      </div>
      {%-endfor-%}
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end service-section -->
<!--======================================
        END SERVICE
======================================-->

<!--======================================
        START TEAM
======================================-->
<section class="team-section section--space bg-primary-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="section-head pb-2">
          {%-for home_3_team_title in collections.home_3_team_title-%}
          <h4 class="section-intro-title">
            {{ home_3_team_title.data.meta }}
          </h4>
          <h1 class="section-title">{{ home_3_team_title.data.title }}</h1>
          {%-endfor-%}
        </div>
        <!-- end section-head -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
    <div class="row">
      {%-for home_3_team in collections.home_3_team-%}
      <div class="col-lg-4 col-sm-6">
        <div
          class="card card-s1 card-team card-team-s2"
          data-aos="zoom-out"
          data-aos-delay="50"
          data-aos-duration="500"
        >
          <div class="card-image">
            <img
              src="{{ home_3_team.data.image }}"
              alt="team image"
              class="card-img-top"
            />
          </div>
          <div class="card-body">
            <h4 class="card-title mb-1">{{ home_3_team.data.title }}</h4>
            <p class="card-text">Cutting Master</p>
            <ul class="social-profile-icons social-profile-icons-s2">
              <li>
                <a href="{{ home_3_team.data.fa }}"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a href="{{ home_3_team.data.tw }}"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="{{ home_3_team.data.ins }}"
                  ><i class="fab fa-instagram"></i
                ></a>
              </li>
              <li>
                <a href="{{ home_3_team.data.lin }}"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- end card -->
      </div>
      {%-endfor-%}
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end team-section -->
<!--======================================
        END TEAM
======================================-->

<!--======================================
        START PACKAGE
======================================-->
<section class="package-section section--space">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="section-head pb-4">
          <h4 class="section-intro-title">Pricing Plan</h4>
          <h1 class="section-title">Choose Your Favorite Package</h1>
        </div>
        <!-- end section-head -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
    <div class="row gutters-48">
      {%-for home_2_package in collections.home_2_package-%}
      <div class="col-lg-4 col-md-6">
        <div class="card card-s1 card-price text-center">
          <div class="card-top">
            <h4 class="mb-2 top-title">{{ home_2_package.data.title }}</h4>
            <p class="top-desc">{{ home_2_package.data.meta }}</p>
          </div>
          <div class="single-price">
            <h1 class="price-title">{{ home_2_package.data.price }}</h1>
          </div>
          <ul class="list-item price-list">
            <li>{{ home_2_package.data.pack_ann1 }}</li>
            <li>{{ home_2_package.data.pack_ann2 }}li></li>
            <li>{{ home_2_package.data.pack_ann3 }}</li>
            <li>{{ home_2_package.data.pack_ann4 }}</li>
            <li>{{ home_2_package.data.pack_ann5 }}li></li>
          </ul>

          <div class="price-btn-wrap">
            <a href="#" class="btn btn-md btn-primary btn-block btn-upper">{{
              home_2_package.data.btn
            }}</a>
          </div>
        </div>
        <!-- end card -->
      </div>
      {%-endfor -%}
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end package-section -->
<!--======================================
        END PACKAGE
======================================-->

<!--======================================
        START TESTIMONIAL
======================================-->
<section class="testimonial-section text-center section-space-b">
  <div class="container">
    <div class="testimonial-slider owl-carousel owl-theme">
      {%-for testimonial in collections.testimonial-%}

      <div class="testimonial-item">
        <p class="lead mb-4">{{ testimonial.data.desc }}</p>
        <div class="avatar mx-auto mb-3">
          <img src="{{ testimonial.data.image }}" alt="" />
        </div>
        <h5 class="testimonial-title">
          {{ testimonial.data.testimonialTitle }}
        </h5>
      </div>
      {%-endfor-%}
    </div>
  </div>
  <!-- end container -->
</section>
<!--======================================
        END TESTIMONIAL
======================================-->

<!--======================================
        START BLOG
======================================-->
<section class="blog-section section--space bg-primary-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="section-head">
          {%-for home_3_our_blog_title in collections.home_3_our_blog_title-%}

          <h4 class="section-intro-title">
            {{ home_3_our_blog_title.data.meta }}
          </h4>
          <h1 class="section-title">{{ home_3_our_blog_title.data.title }}</h1>
          {%-endfor-%}
        </div>
        <!-- end section-head -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
    <div class="row">
      {%-for home_3_our_blog in collections.home_3_our_blog-%}
      <div class="col-lg-4 col-md-6">
        <div class="card card-s3">
          <div class="card-image">
            <img
              src="{{ home_3_our_blog.data.image1 }}"
              alt="service image"
              class="card-img"
            />
          </div>
          <div class="card-body card-body-s1">
            <span class="mb-2 d-block small"
              ><i class="fal fa-calendar-alt mr-1"></i
              >{{ home_3_our_blog.data.newDate }}</span
            >
            <h4 class="card-title mb-3">
              <a href="blog-details.html">{{ home_3_our_blog.data.title }}</a>
            </h4>
            <a href="blog-details.html" class="btn-link btn-link-s1">{{
              home_3_our_blog.data.btn
            }}</a>
          </div>
        </div>
      </div>
      {%-endfor-%}
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end blog-section -->
<!--======================================
        END BLOG
======================================-->
